body
{

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Droid Serif', serif;
}
.header-container
{
    margin-top: 20px;
}
.button
{
    color: #4A4A4A;
    border-color: #4A4A4A;
    font-weight: 500;
}

.title
{
    color: #4A4A4A;
    font-weight: 800;
    margin-top: 100px;
    font-size: 64px;
}

.interaction1
{
    color: #4A4A4A;
    font-size: 36px;
    font-weight: 600;
}

.button.hollow
{
    border: 2px solid #4A4A4A;
    color: #4A4A4A;
}

.button.hollow:hover
{
    border: 2px solid white ;
    color: white;
    font-weight: bold;
}

.menu li a
{
    color: dimgrey;
}
.menu
{
    margin-bottom: 20px;
    margin-top: 50px;
}
.menu li a:hover
{
    color: white;
    font-weight: bold;
}

.accordion-title
{
    background-color: #4A4A4A ;
}