/*GENERAL*/
@import url(https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet);
@import url(https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body 
{
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}

ol, ul 
{
	list-style: none;
}

:focus 
{
	outline: 0;
}

a:focus 
{
	outline: 0;
	text-decoration: none;
}

a 
{
	text-decoration:none;
}

a:hover 
{
	text-decoration:none;
}

h2
{
	font-size: 1.2rem;
	color: #ffffff;
	text-align: center;
	padding: 40px;
}

h3
{
	color: #ffffff;
	font-size: 1rem;
}

/*END GENERAL*/

/* HEAD SECTION */

.logo
{
	padding-top: 30px;
	padding-left: 30px;
	color: #ffffff;
	font-family: 'Eczar';
	font-size: 1.5rem;
}

.head
{
	background-color: #F7B733;
	flex-wrap: wrap;
}

.menu_block
{
	display: flex;
	padding-bottom: 30px;
}

.menu
{
	display: inline-block;
	margin-left: 400px;
	margin-top: 30px;
	font-weight: bold;	
}

.menu a
{
	font-size: 1.2rem;
	font-family: 'Eczar';
	color: #DE514D;
}

.menu li 
{
	display: inline-block;
	margin-left: 30px;
}

.contact_menu
{
	color:#ffffff;
	font-size: 1.4rem;
	margin-left: 30px;
	border-style: none;
	background: transparent;
	font-family: 'Eczar';
	font-weight: bold;
	border-bottom-width: .3rem;
	border-bottom-style: solid;
	border-color: #ffffff;
	padding-bottom: 1px;
	margin-left: 60px;
}

/* END OF HEAD SECTION */

/* PRESENTATION IMAGE SECTION */

.img_wall
{
	width: 100%;
	align-items: center;
}
/* END OF PRESENTATION IMAGE SECTION */

/* PERSONAL DESCRIPTION SECTION */

.pdescription, .projects, .what_i_learn_sec, .footer_intern, .devinciwork_block
{
	display: flex;
	flex-flow: row nowrap;
	justify-content:center;
	align-items: center;
	padding-top: 70px;
}

.personal_description
{
	background-color: #14aea8;
	margin-top: -3px;
	text-align: center;
}

.title_desc h2, .devinciwork_title h2
{
	font-size: 4rem;
	padding-left: 150px;
	font-family: 'Eczar';
	line-height: 80px;
	margin-top: -50px;
	
}

.paragraph_desc, .project_desc, .paragraph_3, .devinciwork_paragraph
{
	color: #ffffff;
	line-height: 30px;
	font-weight: 300;
	text-align: justify;
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 200px;
	margin-bottom: 100px;
}

.paragraph_desc strong
{
	font-weight: 600;
	font-family: 'Eczar';
}

.more_description a
{
	padding-top: 30px;
	margin-left: 700px;
	text-align: center;
	font-family:'Eczar';
	font-weight: 300;
	font-size: 1.2rem;
	color: #ffffff;

}

.social
{
	padding-top: 100px;
	padding-bottom: 30px;
}

.social img, .social_footer img
{
	padding: 6px;

}

/* END OF PERSONAL DESCRIPTION SECTION */

/* SKILL SECTION */


.skills h2
{
	padding-top: 80px;
	font-family:'Eczar';
	font-size: 2rem;
}

.skills h3
{
	font-family:'Eczar';
	font-weight: 400;
	text-align: start;
}
.skills
{
	background-color: #394DAD;
	flex-wrap: wrap;
	text-align: center;
}

.all_skillbars
{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding-top: 70px;
	padding-left: 150px;
	font-family: 'Eczar';
	margin-bottom: -60px;
	
}

.social_icons_abilities
{
	padding-top: 100px;
	padding-bottom: 30px;
}


/*SKILLS BARS*/

.wraper
{
	width:470px;
	margin:50px auto;
}

.wraper:before,
.wraper:after 
{
  display: table;
  content: " ";
}

.wraper:after
{
  clear: both;
}

/* Skills Style 7 */

.skillst7
{
	width:100%;
	color:#fff;
}

.skillst7 .skillbar
{
	width: 60%;
	height: 22px;
	position:relative;
	margin-bottom:25px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #f5f5f5;
}

.skillst7 .count-bar
{
	height: 50%;
	width:0px;
	position:relative;
	height: 22px;
	-moz-border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #F7B733;
}

.skillst7 .title
{
	font-size:.7rem;
	font-weight:300;
	padding-left:10px;
	line-height:23px;
	text-transform:uppercase;
	display:inline-block;
}

.skillst7 .count
{
	line-height:20px;
	font-size:.7rem;
	font-weight:300;
	display:inline-block;
}

/* END OF SKILL SECTION */

/* ACTUALS PROJECTS SECTION */

.actual_projects
{
	background-color: #4A368A;
	flex-wrap: wrap;
}

.projects
{
	padding-top: 1px;
}

.projects h2
{
	margin-top: 150px;
}

.project_desc p
{
	margin-bottom: -60px;
}

.project_desc h3
{
	text-align: center;
	padding-bottom: 30px;
	font-family: 'Eczar';
	font-size: 1.3rem;
	font-weight: 500;
}

.actual_projects
{
	text-align: center;
}

/* END OF ACTUALS PROJECTS SECTIONS */	

/* WHAT I LEAR SECTION */

.what_i_learn
{
	background-color: #DFDCE3;
	flex-wrap: wrap; 
}

.items_learn
{
	margin-bottom: 50px;
}

.what_i_learn_sec h2
{	
	color: #4A4A4A;
	padding-top: 1px;
}

.items_learn h3
{
	font-family: 'Eczar';
	font-size: 3rem;
	color: #DE514D;
	margin-bottom: 30px;
	margin-left: 150px;
	margin-right: 150px;
}

/* END OF WHAT I LEARN SECTION */

/* FOOTER */

.footer_intern
{
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer_intern h3
{
	font-family: 'Eczar';
	color: #DE514D;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.footer p
{
	color: #4A4A4A;
}

.footer_g_1, .footer_g_2, .footer_g_3
{
	margin: auto;
	text-align: center;
	line-height: 23px;
	margin-top: 0px;
}

.maps a
{
	color: #DE514D;
	font-family: 'Eczar';
	font-size: 1.2rem;
}

.maps
{
	margin-top: 25px;
}

.social_footer
{
	padding-top: 15px;
}

.email_contact
{
	margin-top: 15px;
	align-items: flex-start;
	

}

.email_contact textarea
{
	border-radius: 15px;
}


/* END OF FOOTER SECTION */ 

/*ABOUT ME PAGE SECTION*/

.personal_description_2
{
	background-color: #394DAD;
	padding: 50px;
}

.personal_description_2 p
{
	padding-top: 30px;
}


.paragraph_1
{
	column-count: 2;
	column-gap: 50px;
	color: #ffffff;
	line-height: 30px;
	padding-left:100px;
	padding-right: 100px;
	padding-top: 50px;
	font-weight: 300;
	padding-bottom: 50px;
}

.paragraph_1 span
{
	font-weight: 300;
	border-bottom: solid .2rem #DE514D ;
}

.personal_description_3
{
	background-color: #4A368A;
	padding: 50px;
}

.personal_paragraph
{
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
}

.paragraph_3_title h2
{
	font-size: 4rem;
	padding-left: 80px;
	padding-right: 120px;
	font-family: 'Eczar';
	line-height: 70px;
	font-family: 'Eczar';
	margin-top: 50px;
}

.paragraph_3, .devinciwork_paragraph
{
	padding-left: 20px;
	padding-right: 100px
}

.paragraph_3 p:last-child
{
	padding-top: 20px;
}

.writeme
{
	background-color: #DFDCE3;
}

.canuwriteme
{
	padding: 50px;
}
.canuwriteme h2
{
	color: #DE514D;
	font-size: 2.5rem;
	line-height: 60px;
	font-family: 'Eczar';
}

/*WORKS PAGE SECTION*/

.title_works h2
{
	font-family: 'Eczar';
	font-size: 4rem;
}

.paragraph_works
{
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 50px;
	line-height: 23px;
	color: #ffffff;	
}

.paragraph_works p:last-child
{
	 padding-top: 30px;
}

.devinciwork
{
	background-color: #394DAD;
}


.works_intro
{
	background-color: #14aea8;

}

.devinciwork_title
{
	text-align: center;
	color: #ffffff;
}

.devinciwork_title h4
{
	margin-top: -40px
}

/*END OF WORKS PAGE SECTION*/



/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	
}

@media only screen and (max-width: 767px) 
{
	
}
