/*GENERAL*/
@import url(https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet);
@import url(https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body 
{
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}

ol, ul 
{
	list-style: none;
}

:focus 
{
	outline: 0;
}

a:focus 
{
	outline: 0;
	text-decoration: none;
}

a 
{
	text-decoration:none;
}

a:hover 
{
	text-decoration:none;
}

h2
{
	font-size: 1.2rem;
	color: #ffffff;
	text-align: center;
	padding: 40px;
}

h3
{
	color: #ffffff;
	font-size: 1rem;
}

/*END GENERAL*/

/* HEAD SECTION */

.logo
{
	padding-top: 30px;
	padding-left: 30px;
	color: #ffffff;
	font-family: 'Eczar';
	font-size: 1.5rem;
}

.head
{
	background-color: #F7B733;
	flex-wrap: wrap;
}

.menu_block
{
	display: flex;
	padding-bottom: 30px;
}

.menu
{
	display: inline-block;
	margin-left: 400px;
	margin-top: 30px;
	font-weight: bold;	
}

.menu a
{
	color: #ffffff;
	font-size: 1.2rem;
	font-family: 'Eczar';
	color: #DE514D;
}

.menu li 
{
	display: inline-block;
	margin-left: 30px;
}

.contact_menu
{
	color:#ffffff;
	font-size: 1.4rem;
	margin-left: 30px;
	border-style: none;
	background: transparent;
	font-family: 'Eczar';
	font-weight: bold;
	border-bottom-width: .3rem;
	border-bottom-style: solid;
	border-color: #ffffff;
	padding-bottom: 1px;
	margin-left: 60px;
}

/* END OF HEAD SECTION */

/* PRESENTATION IMAGE SECTION */

.img_wall
{
	width: 100%;
	align-items: center;
}
/* END OF PRESENTATION IMAGE SECTION */

/* PERSONAL DESCRIPTION SECTION */

.pdescription, .projects, .what_i_learn_sec
{
	display: flex;
	flex-flow: row nowrap;
	justify-content:center;
	align-items: center;
	padding-top: 70px;
}

.personal_description
{
	background-color: #14aea8;
	margin-top: -3px;
	text-align: center;
}

.title_desc h2
{
	font-size: 4rem;
	padding-left: 150px;
	font-family: 'Eczar';
}

.paragraph_desc, .project_desc
{
	color: #ffffff;
	line-height: 30px;
	font-weight: 300;
	text-align: justify;
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 200px;
	margin-bottom: 50px;
}

.paragraph_desc strong
{
	font-weight: 600;
	font-family: 'Eczar';
}

.more_description 
{
	padding-top: 30px;
	margin-left: 750px;
	text-align: center;
	font-family:'Eczar';
	font-weight: 300;
	font-size: 1.2rem;
	color: #ffffff;
	margin-bottom: -60px;
}

.social
{
	padding-top: 150px;
	padding-bottom: 30px;
}

.social img
{
	padding: 6px;
}

/* END OF PERSONAL DESCRIPTION SECTION */

/* SKILL SECTION */


.skills h2
{
	padding-top: 80px;
	font-family:'Eczar';
	font-size: 2rem;
}

.skills h3
{
	font-family:'Eczar';
	font-weight: 400;
	text-align: start;
}
.skills
{
	background-color: #394DAD;
	flex-wrap: wrap;
	text-align: center;
}

.all_skillbars
{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding-top: 70px;
	padding-left: 150px;
	font-family: 'Eczar';
	margin-bottom: -60px;
	
}

.social_icons_abilities
{
	padding-top: 100px;
	padding-bottom: 30px;
}

.actual_projects
{
	background-color: #4A368A;
	flex-wrap: wrap;
}

/* END OF SKILL SECTION */

/* ACTUALS PROJECTS SECTION */

.project_desc p
{
	margin-bottom: -60px;
}

.project_desc h3
{
	text-align: center;
	padding-bottom: 30px;
	font-family: 'Eczar';
	font-size: 1.3rem;
	font-weight: 500;
}

.actual_projects
{
	text-align: center;
}

/* END OF ACTUALS PROJECTS SECTIONS */	
.what_i_learn
{
	background-color: #DFDCE3;
	flex-wrap: wrap; 
}

.items_learn
{
	display:flex;
	justify-content: space-around;
}

.footer
{
	background-color: #ffffff;
	padding-top: 50px;

}

/*SKILLS BARS*/
.wraper
{
	width:470px;
	margin:50px auto;
}

.wraper:before,
.wraper:after 
{
  display: table;
  content: " ";
}

.wraper:after
{
  clear: both;
}

/* Skills Style 7 */

.skillst7
{
	width:100%;
	color:#fff;
}

.skillst7 .skillbar
{
	width: 60%;
	height: 22px;
	position:relative;
	margin-bottom:25px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #f5f5f5;
}

.skillst7 .count-bar
{
	height: 50%;
	width:0px;
	position:relative;
	height: 22px;
	-moz-border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #F7B733;

}

.skillst7 .title
{
	font-size:.7rem;
	font-weight:300;
	padding-left:10px;
	line-height:23px;
	text-transform:uppercase;
	display:inline-block;
}

.skillst7 .count
{
	line-height:20px;
	font-size:.7rem;
	font-weight:300;
	display:inline-block;
}

/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	
}

@media only screen and (max-width: 767px) 
{
	
}
