/*GENERAL*/
@import url(https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body 
{
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}

ol, ul 
{
	list-style: none;
}

:focus 
{
	outline: 0;
}

a:focus 
{
	outline: 0;
	text-decoration: none;
}

a 
{
	text-decoration:none;
}

a:hover 
{
	text-decoration:none;
}

h2
{
	font-size: 1.2rem;
	color: #ffffff;
	text-align: center;
	padding: 40px;
}

h3
{
	color: #ffffff;
	font-size: 1rem;
}

/*END GENERAL*/


.logo
{
	padding-top: 30px;
	padding-left: 30px;
	color: #ffffff;
	font-size: 1.5rem;
}

.head
{
	background-color: #14aea8;
	flex-wrap: wrap;
}

.menu_block
{
	display: flex;
	padding-bottom: 30px;
}

.menu
{
	display: inline-block;
	margin-left: 300px;
	margin-top: 30px;
}

.menu a
{
	color: #ffffff;
	font-size: .9rem;
}

.menu li 
{
	display: inline-block;
	margin-left: 30px;
}

.contact_menu
{
	color:#7C3951;
	font-size: 1.1rem;
	margin-left: 30px;
}

.img_wall
{
	width: auto;
	align-items: center;
}

.personal_description
{
	background-color: #14aea8;
	margin-top: -3px;
}

.title_desc
{
	padding-top: 100px;
	text-align: center;
}

.paragraph_desc
{
	color: #ffffff;
	line-height: 30px;
	font-weight: 300;
	text-align: justify;
	padding-top: 50px;
	padding-left: 300px;
	padding-right: 300px;
	margin-bottom: 50px;
}

.more_description
{
	margin-top: 100px;
	text-align: center;
}

.paragraph_desc strong
{
	font-weight: 600;
}

.more_description
{
	color:#ffffff;
	font-weight: 400;

}

.social_icons_personal
{
	padding-top: 150px;
	padding-bottom: 30px;
/* 	margin-left: 1200px; */

}

.social_icons_personal img
{
	padding: 6px;
}

.skills
{
	background-color: #1390C1;
	flex-wrap: wrap;
}

.all_skillbars
{
	display:flex;
	justify-content: space-around;
	padding-top: 70px;
	padding-left: 150px;
}

.social_icons_abilities
{
	padding-top: 100px;
	padding-bottom: 30px;
}

.actual_projects
{
	background-color: #DF8000;
	flex-wrap: wrap;
}

.projects
{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}

.project_desc
{
	color: #ffffff;
	line-height: 30px;
	font-weight: 300;
	text-align: justify;
	padding-top: 50px;
	padding-left: 200px;
	padding-right: 600px;
	margin-bottom: 50px;
}

.social_icons_ilearn
{
	padding-top: 150px;
	padding-bottom: 30px;
	margin-left: 1300px;
}

.social_icons_ilearn img
{
	padding: 6px;
}
.what_i_learn
{
	background-color: #1390C1;
	flex-wrap: wrap; 
}

.items_learn
{
	display:flex;
	justify-content: space-around;
}

.footer
{
	background-color: #1390C1;
	padding-top: 50px;

}

/*SKILLS BARS*/
.wraper
{
	width:470px;
	margin:50px auto;
}

.wraper:before,
.wraper:after 
{
  display: table;
  content: " ";
}

.wraper:after
{
  clear: both;
}

/* Skills Style 7 */

.skillst7
{
	width:100%;
	color:#fff;
}

.skillst7 .skillbar
{
	width: 60%;
	height: 22px;
	position:relative;
	margin-bottom:25px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #f5f5f5;
}

.skillst7 .count-bar
{
	height: 50%;
	width:0px;
	position:relative;
	height: 22px;
	-moz-border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #B0C200;

}

.skillst7 .title
{
	font-size:.7rem;
	font-weight:300;
	padding-left:10px;
	line-height:23px;
	text-transform:uppercase;
	display:inline-block;
}

.skillst7 .count
{
	line-height:20px;
	font-size:.7rem;
	font-weight:300;
	display:inline-block;
}

/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	
}

@media only screen and (max-width: 767px) 
{
	
}
